$color1: #570000;
$color2: #740000;
$color3: #b10f2e;
$border: 1px solid #180000;
$primary-font: Impact, "Arial Narrow Bold", sans-serif;
$secondary-font: Verdana, Tahoma, sans-serif;
$shadow: -10px 10px 5px 0px $color1;
