$color1: #cbc0d3;
$color2: #efd3d7;
$color3: #feeafa;
$border: 1px solid #4c375a;
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Georgia, Times, "Times New Roman", serif;
$shadow: 10px 10px 5px 0px $color1;
