<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio 2</title>
  <link rel="stylesheet" href="./styles/styles.scss">
</head>
<body>
  <main>
    <article class="base">Base</article>
    <article class="important">Important</article>
    <article class="warning">Warning</article>
    <article class="font">
      <p>Principal font</p>
      <p>Secondary font</p>
    </article>
    <article class="shadow-box">Box with shadows</article>
  </main>
</body>
</html>