@mixin colorRange($color) {
  .base-color {
    background-color: $color;
  }
  @for $i from 1 through 4 {
    .lighten-#{$i} {
      background-color: lighten($color, 10% * $i);
    }
    .darken-#{$i} {
      background-color: darken($color, 10% * $i);
    }
  }
}

@mixin boxParams {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  color: black;
  margin: 10px;
  border-radius: 7px;
}
