@import "_variables.scss";
@import "_mixins.scss";

.container-1 {
  display: flex;
  .box {
    border: 2px solid blue;
    @include boxParams;
  }
  @include colorRange($baseColor1);
}

.container-2 {
  display: flex;
  .box {
    border: 2px solid blue;
    @include boxParams;
  }
  @include colorRange($baseColor2);
}

.container-3 {
  display: flex;
  .box {
    border: 2px solid blue;
    @include boxParams;
  }
  @include colorRange($baseColor3);
}
